global
        log 127.0.0.1   local0
        log 127.0.0.1   local1 notice
        maxconn 4096
        user haproxy
        group haproxy

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        option forwardfor
        option http-server-close
        stats enable
        stats auth {{key "annihilator/haproxy/username"}}:{{key "annihilator/haproxy/password" }}
        stats uri /stats

        retries                 3
        timeout http-request    10s
        timeout queue           1m
        timeout connect         10s
        timeout client          1m
        timeout server          1m
        timeout http-keep-alive 10s
        timeout check           10s

frontend http-in
        bind :80
        acl host_workflow hdr(host) -i {{key "annihilator/flex/workflow_domain"  }}
        acl host_metadata hdr(host) -i {{key "annihilator/flex/metadata_domain"  }}

        acl path_healthcheck path_end -i /__healthcheck
        acl path_healthcheck path_end -i /__health

        acl path_monitoring path_end -i /monitoring

        acl path_ft_pc path_end -i /ft/projectcreator
        acl path_ft_s3 path_beg -i /ft/upload/

        use_backend workflow_cluster if host_workflow
        use_backend metadata_cluster if host_metadata
        use_backend monitoreador if path_healthcheck
        use_backend monitoring if path_monitoring
        use_backend project-creator if path_ft_pc
        use_backend s3-club-7 if path_ft_s3

        default_backend master

backend monitoring
        http-request redirect location http://healthcheck.ft.com/?dashboardname=flex&services={{key "annihilator/haproxy/all_hosts"}} code 302

backend monitoreador
        server localhost 172.17.0.1:8000

backend workflow_cluster
        balance leastconn
        option httpclose
        cookie JSESSIONID prefix
        {{range service "flex-workflowdesigner-app"}}
        server {{.Node}} {{.Address}}:{{.Port}} check cookie {{.Node}}_{{.Port}} {{end}}

backend metadata_cluster
        balance leastconn
        option httpclose
        cookie JSESSIONID prefix
        {{range service "flex-metadatadesigner-app"}}
        server {{.Node}} {{.Address}}:{{.Port}} check cookie {{.Node}}_{{.Port}} {{end}}

backend project-creator
        http-request set-path /
        balance leastconn
        option httpclose
        {{range service "project-creator"}}
        server {{.Node}} {{.Address}}:{{.Port}} check cookie {{.Node}}_{{.Port}} {{end}}

backend s3-club-7
        reqrep ^([^\ :]*)\ /ft/upload/(.*)     \1\ /\2

        balance leastconn
        option httpclose
        compression algo gzip
        compression type application/json "application/json; charset=utf-8"
        {{range service "s3-club-7"}}
        server {{.Node}} {{.Address}}:{{.Port}} check cookie {{.Node}}_{{.Port}} {{end}}

backend master
        balance leastconn
        option httpclose
        cookie JSESSIONID prefix
        {{range service "flex-master-20044"}}
        server {{.Node}} {{.Address}}:{{.Port}} check cookie {{.Node}}_{{.Port}} {{end}}
